@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 font-sans;
    margin: 0;
  }

  code {
    @apply font-mono text-sm bg-gray-200 p-1 rounded;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Dark gray background */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* Lighter gray for the thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Slightly lighter gray on hover */
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
